@using SelfHelpTicketingSystem.Classes
@model SelfHelpTicketingSystem.Models.TicketViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //int id = Convert.ToInt32(CookieManager.GetUserId());
}

<h1>Edit</h1>

<h4>TicketViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attachment" class="control-label"></label>
                <input asp-for="Attachment" class="form-control" />
                <span asp-validation-for="Attachment" class="text-danger"></span>
            </div>
            <div class="form-group">
            <input type="hidden" asp-for="Id" name ="id" value="@Model.Id" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" asp-action="EditTicket" asp-controller="Tickets" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Preview">Back to List</a>
</div>

